
<ion-header>

  <ion-navbar>
    <ion-title>Add Project</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >

    <p *ngIf="submitAttempt" ></p>

    <form [formGroup]="addProjectForm">
        
          <ion-item class="mtop" >
              <ion-label stacked>Project Name</ion-label>
              <ion-input formControlName="projectName" type="text" [class.invalid]="!addProjectForm.controls.projectName.valid && (addProjectForm.controls.projectName.dirty || submitAttempt)"></ion-input>
          </ion-item>

          <ion-item no-lines *ngIf="!addProjectForm.controls.projectName.valid  && (addProjectForm.controls.projectName.dirty || submitAttempt)">
              <p class="error-message">Please specify username.</p>
          </ion-item>
 

          <ion-item class="mtop">
              <ion-label stacked>Address</ion-label>
              <ion-textarea  formControlName="address"  type="Text" name="description"></ion-textarea>
          </ion-item>         
          
          <ion-item class="mtop">
              <ion-label stacked>City</ion-label>
              <ion-input formControlName="city" type="Text" [class.invalid]="!addProjectForm.controls.city.valid  && (addProjectForm.controls.city.dirty || submitAttempt)"></ion-input>
          </ion-item>

          <ion-item no-lines *ngIf="!addProjectForm.controls.city.valid  && (addProjectForm.controls.city.dirty || submitAttempt)">
                <p class="error-message" text-wrap>Please specify city.</p>
            </ion-item> 
  
        <ion-item class="mtop">
            <ion-label stacked>State</ion-label>
            <ion-select [(ngModel)]="State" formControlName="state" [class.invalid]="!addProjectForm.controls.state.valid  && (addProjectForm.controls.state.dirty || submitAttempt)">
            <ion-option value="stateSelect" disabled selected>Select State</ion-option>
            <ion-option value="DC">District of Columbia</ion-option>
            </ion-select>
        </ion-item>

        <ion-item no-lines *ngIf="!addProjectForm.controls.state.valid  && (addProjectForm.controls.state.dirty || submitAttempt)">
            <p class="error-message" text-wrap>Please select state.</p>
        </ion-item>

        <ion-item class="mtop">
            <ion-label stacked>Country</ion-label>            
            <ion-select [(ngModel)]="Country" formControlName="countryName" [class.invalid]="!addProjectForm.controls.countryName.valid  && (addProjectForm.controls.countryName.dirty || submitAttempt)">
                <ion-option value="selectCountry" disabled selected>Select Country</ion-option>
                <ion-option value="United States">United States</ion-option>
            </ion-select>
        </ion-item>

        <ion-item no-lines *ngIf="!addProjectForm.controls.countryName.valid  && (addProjectForm.controls.countryName.dirty || submitAttempt)">
                <p class="error-message" text-wrap>Please select country.</p>
            </ion-item>
          
          <ion-item class="mtop">
              <ion-label stacked>Zipcode</ion-label>
              <ion-input formControlName="zipcode" type="number" pattern="[0-9]*"></ion-input>
          </ion-item>

          <ion-item no-lines></ion-item>
          
          <ion-row>
              <ion-col center text-center >
                  <button ion-button block (click)="addNewProject()" >
                      Add Project
                  </button>
              </ion-col>
          </ion-row>
  </form>


</ion-content>
