<ion-header>
    <ion-navbar #navbar>
        <ion-title>
            Energy
        </ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="logIn()">
                Log In
            </button>
        </ion-buttons>

    </ion-navbar>
</ion-header>
<ion-content>
    <ion-grid>
        <p *ngIf="submitAttempt"></p>

        <form [formGroup]="basicInformationForm">

            <ion-item center text-center no-lines>
                <h2 text-wrap>
                    <b>Get Started !</b>
                </h2>
            </ion-item>

            <ion-item center text-center no-lines>
                <h3 text-wrap>It takes only few taps to add your
                    <b>building's data</b> and start seeing insight.</h3>
            </ion-item>

            <ion-item no-lines>
                <img class="image_center" src="assets/imgs/buildings_green.png">
            </ion-item>

            <!-- Form basic questions start  -->

             <ion-item class="mtop">
                <ion-label stacked> Building location</ion-label>
                <ion-input formControlName="location" type="text" tappable [class.invalid]="!basicInformationForm.controls.location.valid  && (basicInformationForm.controls.location.dirty || submitAttempt)"></ion-input>
            </ion-item>

            <ion-item no-lines *ngIf="!basicInformationForm.controls.location.valid  && (basicInformationForm.controls.location.dirty || submitAttempt)">
                <p class="error_message" text-wrap>Please specify location.</p>
            </ion-item>
           
            <ion-item class="mtop" >
                <ion-label stacked text-wrap> Energy consumption<span stacked class="fontSize"> (last month)</span></ion-label>
                <ion-input formControlName="electConsumption" type="number" pattern="[0-9]*" tappable [class.invalid]="!basicInformationForm.controls.electConsumption.valid  && (basicInformationForm.controls.electConsumption.dirty || submitAttempt)"></ion-input>                
            </ion-item>

            <ion-item no-lines *ngIf="!basicInformationForm.controls.electConsumption.valid  && (basicInformationForm.controls.electConsumption.dirty || submitAttempt)">
                <p class="error_message" text-wrap>This field is required.</p>
            </ion-item>

            <ion-item class="mtop">
                <ion-label stacked>Unit<span stacked class="fontSize"> (energy consumption)</span></ion-label>
                <ion-select class="pb" [(ngModel)]="elect_Consumption" formControlName="electConsumptionUnit">
                    <ion-option value="kWh">kWh</ion-option>
                    <ion-option value="mWh">mWh</ion-option>
                    <ion-option value="mBtu">mBtu</ion-option>
                    <ion-option value="kBtu">kBtu</ion-option>
                    <ion-option value="GJ">GJ</ion-option>
                </ion-select>
            </ion-item>
    
            <ion-item no-lines *ngIf="!basicInformationForm.controls.electConsumptionUnit.valid  && (basicInformationForm.controls.electConsumptionUnit.dirty || submitAttempt)">
                <p class="error_message" text-wrap>This field is required.</p>
            </ion-item>
    
            <ion-item class="mtop">
                <ion-label stacked>Occupancy</ion-label>
                <ion-input formControlName="occupancy" type="number" pattern="[0-9]*" tappable [class.invalid]="!basicInformationForm.controls.occupancy.valid  && (basicInformationForm.controls.occupancy.dirty || submitAttempt)"></ion-input>
            </ion-item>

            <ion-item no-lines *ngIf="!basicInformationForm.controls.occupancy.valid  && (basicInformationForm.controls.occupancy.dirty || submitAttempt)">
                <p class="error_message" text-wrap>This field is required.</p>
            </ion-item>

            <ion-item class="mtop">
                <ion-label stacked>Operating hours<span stacked class="fontSize"> (per week)</span></ion-label>
                <ion-input formControlName="occupancy" type="number" pattern="[0-9]*" tappable [class.invalid]="!basicInformationForm.controls.occupancy.valid  && (basicInformationForm.controls.occupancy.dirty || submitAttempt)"></ion-input>
            </ion-item>

            <ion-item no-lines *ngIf="!basicInformationForm.controls.occupancy.valid  && (basicInformationForm.controls.occupancy.dirty || submitAttempt)">
                <p class="error_message" text-wrap>This field is required.</p>
            </ion-item>

            <ion-item class="mtop">
                <ion-label stacked>Gross floor area</ion-label>
                <ion-input formControlName="area" type="number" pattern="[0-9]*" tappable [class.invalid]="!basicInformationForm.controls.area.valid  && (basicInformationForm.controls.area.dirty || submitAttempt)"></ion-input>
            </ion-item>

            <ion-item no-lines *ngIf="!basicInformationForm.controls.area.valid  && (basicInformationForm.controls.area.dirty || submitAttempt)">
                <p class="error_message" text-wrap>This field is required.</p>
            </ion-item>

            <ion-item class="mtop">
                <ion-label stacked>Unit<span stacked class="fontSize"> (gross floor area)</span></ion-label>
                <ion-select class="pb" [(ngModel)]="grossFloorArea" formControlName="areaUnit">
                    <ion-option value="sqft">Square feet</ion-option>
                    <ion-option value="sm">Square meters</ion-option>
                </ion-select>
            </ion-item>
    
            <!-- <ion-item no-lines *ngIf="!basicInformationForm.controls.areaUnit.valid  && (basicInformationForm.controls.areaUnit.dirty || submitAttempt)">
                <p class="error_message" text-wrap>This field is required.</p>
            </ion-item> -->

            <!-- <ion-item>
                <ion-label stacked>Select your electricity provider</ion-label>
                <ion-select [(ngModel)]="elect_provider" formControlName="electricity_provider" [placeholder]="select" [class.invalid]="!basicInformationForm.controls.electricity_provider.valid  && (basicInformationForm.controls.electricity_provider.dirty || submitAttempt)">
                    <ion-option value="electricityProviderSelect" disabled selected>Select Electricity Provider</ion-option>
                    <ion-option value="CPL Retail Energy">CPL Retail Energy</ion-option>
                    <ion-option value="Direct Energy">Direct Energy</ion-option>
                </ion-select>
            </ion-item>

            <ion-item no-lines *ngIf="!basicInformationForm.controls.electricity_provider.valid  && (basicInformationForm.controls.electricity_provider.dirty || submitAttempt)">
                <p class="error_message" text-wrap>Please select your electricity provider.</p>
            </ion-item> -->

            <ion-item no-lines></ion-item>

            <ion-row>
                <ion-col center text-center>
                    <button ion-button block (click)="score()">
                        Check Score
                    </button>
                </ion-col>
            </ion-row>

        </form>


    </ion-grid>


</ion-content>