page-dashboard {

    .invalid {
        border-bottom: 2px solid #ea6153;
    }

    .error_message{
        color:#ea6153;
    }

    .fontSize{
        font-size:12px;
    }

    .mtop{
        margin-top: 5px;
    }

    .image_center{
        height: 10vh;
        width: auto;
        margin: auto;
        display: block;
      }


    

}
