page-dashboard {

    .invalid {
        border-bottom: 2px solid #ea6153;
    }

    .error_message{
        color:#ea6153;
    }

    .fontSize{
        font-size:12px;
    }

    .mtop{
        margin-top: 5px;
    }

    // .item-label-stacked .select-md{
    //   padding-top: 13px;
    // }

    // .item-label-stacked .select-ios{
    //   padding-top: 13px;
    // }

    // .select-ios-padding-top{
    //   padding-top: 13px;
    // }

    .image_center{
        height: 10vh;
        width: auto;
        margin: auto;
        display: block;
      }


    

}
