<!-- Generated template for the FabIconComponent component -->
<div>
    <ion-fab center bottom #fab>
        
        <button ion-fab class="energy_color" mini (click) = "goToAddProjectPage()"><ion-icon name="md-add"></ion-icon></button>
        
        <!-- <ion-fab-list side="left" class="mr">   
            <button ion-fab><ion-icon name="home" mini></ion-icon></button>
             <ion-label text-wrap  class="label1"> Add Project</ion-label>            
        </ion-fab-list>
   
        <ion-fab-list side="top" class="mb" tappable (click)="goToAddMeter()">
            <button ion-fab><ion-icon name="home" mini></ion-icon></button>
             <ion-label text-wrap  class="label1"> Add Meter</ion-label>    
        </ion-fab-list> 
    
    
        <ion-fab-list side="right" class="ml" tappable>
            <button ion-fab><ion-icon name="home" mini></ion-icon></button>
             <ion-label  text-wrap class="label2"> Add Portfolio</ion-label>    
        </ion-fab-list>
     -->
      </ion-fab> 
      
</div>
