@media screen and (min-width: 1024px) {
    .ion-page {
                margin: 0px auto;
                position: relative;
                width: 50%;
        }

}

.app-root{
background-color: #dedede
}


.platform-core .scroll-content {
overflow-y: auto !important;
}

.content .scroll-content {
overflow-y: auto !important;
}

.invalid {
        border-bottom: 2px solid #ea6153;
}

.label-md[stacked] {
    font-size: 1.4rem;
}


.label-ios[stacked] {
    font-size: 1.4rem;
}

.smallScorepuckBlank {
    text-align: center;
    padding-top: 8px;
    height: 36px;
    width: 36px;
    float: left;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-color: darkgrey;
    background-size: 35px 33px;
    background-position: 1px 2px;
}
.bgColor{
    background-color:#f4f4f4;
}

#chartdiv{
    width: 100%;
    height: 300px;
    margin: auto;
}

.error-message{
    color:#ea6153;
}

.button-md{
    background-color:#D0DD3D;
}

.button-md:hover{
    background-color:#D0DD3D;
}

.button-ios{
    background-color:#D0DD3D;
}

.button-ios:active{
    background-color:#D0DD3D;
}

.card-content-md{
    padding: 0px;
}

.card-content-ios{
    padding: 0px;
}






